/**
MASAS View Tool - Stylesheet
Updated: Jan 13, 2014
Independent Joint Copyright (c) 2011-2014 MASAS Contributors.  Published
under the Modified BSD license.  See license.txt for the full text of the license.
*/

html, body {
    font: normal 12px verdana;
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    height: 100%;
}

#headerTitleBlock {
    float: left;
    font-size: 150%;
    font-weight: bold;
    padding: 3px;
}
#headerDetailBlock {
    float: right;
    padding: 5px;
    font-size: 85%;
}

/* Popups */
div.gx-popup .x-window-mc {
    background-color: white;
    /*border-width: 5px;*/
}
div.gx-popup .x-window-body {
    margin: 5px;
}
div.gx-popup div.popupTitle {
    border-bottom: 1px solid black;
    font-weight: bold;
    margin-bottom: 2px;
    width: 100%;
}
div.popupTitle a {
    text-decoration: none;
    vertical-align: super;
}
div.gx-popup div.popupTitle img.entryIcon {
    margin-right: 5px;
}
div.gx-popup div.popupTitle div.contentLink {
    display: inline;
    position: relative;
    left: 10px;
}
.popupTitleClose {
    float: right;
    text-decoration: none;
}
.popupInfo {
    margin-bottom: 4px;
}
.popupBody table {
    border-collapse: collapse;
    /* the table has trouble getting the proper width from the parent
    div and so it overflows a bit, this 97% ensures it doesn't.  Look
    into fixing this */
    width: 97%;
}
.popupBody td, .popupBody th {
    border: 1px solid gray;
    padding: 1px 2px;
}
.rightAlign {
    text-align: right;
}
.popupBody tr:nth-child(2n+1) {
    background-color: #d6e9e9;
}

/* OpenLayers */
.olControlLoadingPanel {
    background-image: url("../img/layer-loading.gif");
    margin-left: 35%;
    margin-top: 25px;
    position: relative;
    width: 195px;
    height: 11px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

/* Hides overlapping Google attribution divs */
/* does not appear to be needed with OpenLayers 2.13.1
div.olLayerGoogleV3 {
    position: absolute;
    left: -9999px !important;
}
*/

.olControlAttribution {
    font-size: smaller;
    left: 3px !important;
    bottom: 0.5em !important;
    position: absolute;
    display: block;
}

/* Feed grid header */
span.headerBlue { color: #15428B; font-weight: bold; }
span.feedUpdateInfo { color: black; }

/* Feed Tabs & Form */
li.disabledFeedTab a.x-tab-right, li.disabledFeedTab em.x-tab-left, li.disabledFeedTab span.x-tab-strip-inner {
    background-image: none;
    background-color: #DC143C /*crimson in css3*/
}
form.disabledFeed {
    background-image: none;
    background-color: #D3D3D3 /*lightgray in css3*/;
}

/* Buttons */
.btnDelete, .x-tool-deleteLarge {
    background-image: url("../img/delete.png");
}
.btnInvert {
    background-image: url("../img/contrast_high.png");
    width: 16px;
    height: 16px;
}
.x-btn-pressed .btnInvert {
    background-image: url("../img/contrast_low.png");
}
.x-tool-saveLarge, .x-tool-saveLarge {
    width: 16px;
    height: 16px;
}
.btnLeftArrow {
    background-image: url("../assets/icons/arrow-left-a.png");
    background-size: 24px 24px;
    width: 48px!important;
}

.btnRightArrow {
    background-image: url("../assets/icons/arrow-right-a.png");
    background-size: 24px 24px;
    width: 48px!important;
}

.btnOverviewMap {
    background-image: url("../img/world_add.png");
    width: 16px;
    height: 16px;
}
.btnRefresh {
    background-image: url("../assets/icons/refresh.png");
    background-size: 24px 24px;
}

.btnTimeFilter {
    background-image: url("../assets/icons/android-clock.png");
    background-size: 24px 24px;
}

.btnGridControl {
    background-image: url("../img/grid-control.gif");
}
.btnAlertIcon {
    background-image: url("../img/cap.png");
    display: inline-block;
    border: 0;
    height: 14px;
    width: 14px;
}
.btnAttachIcon {
    background-image: url("../img/attach.png");
    display: inline-block;
    border: 0;
    height: 14px;
    width: 14px;
}
.btnLinkIcon {
    background-image: url("../img/link.png");
    display: inline-block;
    border: 0;
    height: 14px;
    width: 14px;
}
.btnZoomIcon {
    background-image: url("../img/zoom.png");
    display: block;
    border: 0;
    height: 14px;
    width: 14px;
}
.btnGeolocate {
    background-image: url("../assets/icons/location.png");
    background-size: 24px 24px;
}
.btnAddIcon {
    background-image: url("../img/add.png");
}

.btnToolsAddIcon {
    background-image: url("../assets/icons/android-add.png");
    background-size: 24px 24px;
    width:32px!important;
}

.btnEditIcon {
    background-image: url("../assets/icons/edit.png");
    background-size: 24px 24px;
}

.btnLogoutIcon {
    background-image: url("../assets/icons/power.png");
    background-size: 24px 24px;
}

.btnMenuIcon {
    background-image: url("../assets/icons/navicon-round.png");
    background-size: 24px 24px;
    width: 32px!important;
}

.btnHomeIcon {
    background-image: url("../assets/icons/home.png");
    background-size: 24px 24px;
}

.btnViewIcon {
    background-image: url("../assets/icons/android-image.png");
    background-size: 24px 24px;
    width:32px!important;
}

.btnBaseLayersIcon {
    background-image: url("../assets/icons/android-earth.png");
    background-size: 24px 24px;
}

.btnOverlayLayersIcon {
    background-image: url("../assets/icons/social-buffer.png");
    background-size: 24px 24px;
}

.btnClearSearchIcon {
    background-image: url("../assets/icons/close-circled.png");
    background-size: 24px 24px;
    width: 32px!important;
    height: 32px!important;
}

/* previously used for buttons in the bbar for saving settings, may no longer
 * be needed */
.buffered { margin-left: 10px; margin-right: 10px; }

.filter-row-header {
    background-image: url("../img/filter-row-hrow.gif");
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-position-x: 0%;
    background-position-y: 0%;
    background-origin: initial;
    background-clip: initial;
    background-color: #F9F9F9;
}

.EntryTitleLinks a:link { font-weight: bold; }
/* .EntryTitleLinks a:visited {} */
.EntryTitleLinks a:hover { font-weight: bold; }
.EntryTitleLinks a:active { font-weight: bold; }

.EntryRecentTime { color: #8B0000; }
.EntryExpiredTime { color: #808080; }

.EntryStatusException { color: #8B0000; }

.EntryTitlePopup { border-bottom: 1px solid black; }
.EntryTitlePopup a:link { text-decoration: none; font-weight: bold; }
.EntryTitlePopup a:visited { text-decoration: none; font-weight: bold; }
.EntryTitlePopup a:hover { text-decoration: none; font-weight: bold; }
.EntryTitlePopup a:active { text-decoration: none; font-weight: bold; }

.TemplateDisplayBox { margin: 5px; padding: 5px; border: 1px solid black; }
.TemplateDisplayBox h2 { margin-bottom: 2px; font-size: 140%; font-weight: bold; }
.TemplateDisplayBox p { margin-left: 10px; line-height: 140%; }

.RevisionHeader { font-size: 140%; background-color: lightBlue; }

.AuthorInfo .x-window-body { background-color: white; }

/* External Enclosure Icons - Large Size */
.attachment-preview-icon {
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
}
.attachment-preview-word {
    background-image: url("../img/word-doc-icon.png");
}
.attachment-preview-video {
    background-image: url("../img/video-icon.png");
}
.attachment-preview-text {
    background-image: url("../img/text-icon.png");
}
.attachment-preview-spreadsheet {
    background-image: url("../img/excel-icon.png");
}
.attachment-preview-pdf {
    background-image: url("../img/pdf-icon.png");
}
.attachment-preview-kml {
    background-image: url("../img/kml-icon.png");
}
.attachment-preview-unknown {
    background-image: url("../img/unknown-icon.png");
}
.toolbar-unknown-large {
    background-image: url("../img/unknown-icon_32x32.png");
}
.toolbar-unknown-medium {
    background-image: url("../img/unknown-icon_24x24.png");
}
.toolbar-unknown-small {
    background-image: url("../img/unknown-icon_16x16.png");
}
.overviewPanel {
    border-color: #800080 !important;
    border-width: 3px;
}
.leftAlign {
    text-align: left;
}
.x-panel-bwrap {
    background-color: #DFE8F6;
}

.titleClose {
    margin-left: 25px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.btnCAPArea:link { text-decoration: none; }

.btnCAPArea:visited { color: blue; text-decoration: none; }

.revisionsLink { padding-left: 50px; }

.revisionsSummary { margin-left: 10px; }

.btnRevisionDetails { float: left; }

.btnRevisionGeometry { float: left; margin-left: 25px; }

/* Colours in Entry Grid, same values as VIEW.layerColours */
.redEntryBackground { background-color: #FF0000; }
.yellowEntryBackground { background-color: #FFFF00; }
.greenEntryBackground { background-color: #008000; }
.grayEntryBackground { background-color: #808080; }
.blackEntryBackground { background-color: #000000; }
.blueEntryBackground { background-color: #0000FF; }
.purpleEntryBackground { background-color: #800080; }

.autoReloadBox .x-form-cb-label {
    color: black;
    font-weight: bold;
}

.authorListItem { border-bottom: 1px solid #C0C0C0; }
.authorListAdd {
    float: left;
    width: 30px;
    height: 30px;
    background-image: url("../img/add.png");
    background-position: center;
    background-repeat: no-repeat;
}
.authorListRemove {
    float: left;
    width: 30px;
    height: 30px;
    background-image: url("../img/delete.png");
    background-position: center;
    background-repeat: no-repeat;
}
.authorListInfo { float: left; padding: 3px 10px 3px 10px; }
.authorListName { font-size: 120%; font-weight: bold; }

.entryIdTitle {
    padding-left: 5px;
    font-size: 125%;
    font-weight: bold;
}

.EntrySaveWindow .x-window-body { background-color: white; }

.EntrySaveDiv {
    height: 85px;
    font-size: 120%;
    text-align: center;
    background-image: url("../img/layer-loading.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.btnNewEntryWizardIcon {
    background-image: url("../assets/icons/social-rss.png");
    background-size: 96px 96px;
    width: 96px!important;
    height: 96px!important;
}

.btnNewAlertWizardIcon {
    background-image: url("../assets/icons/radio-waves.png");
    background-size: 96px 96px;
    width: 96px!important;
    height: 96px!important;
}

.btnNewOverlayWizardIcon {
    background-image: url("../assets/icons/flag.png");
    background-size: 96px 96px;
    width: 96px!important;
    height: 96px!important;
}

.iconTreeExpand {
    background-image: url("../assets/icons/arrow-expand.png");
    background-size: 20px 20px;
}
.iconTreeCollapse {
    background-image: url("../assets/icons/arrow-shrink.png");
    background-size: 20px 20px;
}

.symbolPreviewBox_48 {
    height: 48px;
    width: 48px;
    position: relative;
    line-height: 48px;
    margin-left: 10px;
    margin-right: 10px;
}

.symbolPreviewBox_64 {
    height: 64px;
    width: 64px;
    position: relative;
    line-height: 64px;
    margin-left: 10px;
    margin-right: 10px;
}
.symbolPreviewImage {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.width_100 {
    width: 100%;
}

.btnDeleteRelatedLinkIcon {
    background-image: url("../assets/icons/close-circled.png");
    background-size: 16px 16px;
    width: 16px!important;
    height: 16px!important;
}

.btnGridEditEntryIcon {
    background-image: url("../assets/icons/edit.png");
    background-size: 16px 16px;
    width: 16px!important;
    height: 16px!important;
}

.btnEditItemIcon {
    background-image: url("../assets/icons/edit.png");
    background-size: 16px 16px;
}
