/*!
 * vodkaO Theme 1.0
 * Author: Sebastian Driefmeier
 * Mailto: driefmeier@extthemes.com
 * Copyright(c) 2010 extthemes.com
 * http://extthemes.com
 */

.ext-el-mask {
    background-color: #ccc;
}

.ext-el-mask-msg {
    border-color:#ff9900;
    background-color:#ff9900;
    background-image:url(../images/vodkaO/button/tb.gif);
}
.ext-el-mask-msg div {
    background-color: #eee;
    border-color:#ff9900;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}

.x-mask-loading div {
    background-color:#fbfbfb;
    background-image:url(../images/default/grid/loading.gif);
}

.x-item-disabled {
    color: gray;
}

.x-item-disabled * {
    color: gray !important;
}

.x-splitbar-proxy {
    background-color: #aaa;
}

.x-color-palette a {
    border-color:#fff;
}

.x-color-palette a:hover, .x-color-palette a.x-color-palette-sel {
    border-color:#8bb8f3;
    background-color: #eaeaea;
}

.x-color-palette em:hover, .x-color-palette span:hover{   
    background-color: #eaeaea;
}

.x-color-palette em {
    border-color:#aca899;
}

.x-ie-shadow {
    background-color:#777;
}

.x-shadow .xsmc {
    background-image: url(../images/default/shadow-c.png);
}

.x-shadow .xsml, .x-shadow .xsmr {
    background-image: url(../images/default/shadow-lr.png);
}

.x-shadow .xstl, .x-shadow .xstc,  .x-shadow .xstr, .x-shadow .xsbl, .x-shadow .xsbc, .x-shadow .xsbr{
    background-image: url(../images/default/shadow.png);
}

.loading-indicator {
    font-size: 11px;
    background-image: url(../images/default/grid/loading.gif);
}

.x-spotlight {
    background-color: #ccc;
}

.x-tab-panel-header, .x-tab-panel-footer {
	background-color: #eaeaea;
	border-color:#d0d0d0;
    overflow:hidden;
    zoom:1;
}

.x-tab-panel-header, .x-tab-panel-footer {
	border-color:#d0d0d0;
}

ul.x-tab-strip-top{
    background-color:#dbdbdb;
	background-image: url(../images/vodkaO/tabs/tab-strip-bg.gif) !important;
	border-bottom-color:#d0d0d0;
}

ul.x-tab-strip-bottom{
    background-color:#dbdbdb;
	background-image: url(../images/vodkaO/tabs/tab-strip-btm-bg.gif) !important;
	border-top-color:#d0d0d0;
}

.x-tab-panel-header-plain .x-tab-strip-spacer,
.x-tab-panel-footer-plain .x-tab-strip-spacer {
    border-color:#d0d0d0;
    background-color: #eaeaea;
}

.x-tab-strip span.x-tab-strip-text {
	font:normal 11px tahoma,arial,helvetica;
	color:#333;
}

.x-tab-strip-over span.x-tab-strip-text {
	color:#111;
}

.x-tab-strip-active span.x-tab-strip-text {
	color:#333;
    font-weight:bold;
}

.x-tab-strip-disabled .x-tabs-text {
	color:#aaaaaa;
}

.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner{
	background-image: url(../images/vodkaO/tabs/tabs-sprite.gif);
}

.x-tab-strip-bottom .x-tab-right {
	background-image: url(../images/vodkaO/tabs/tab-btm-inactive-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-left {
	background-image: url(../images/vodkaO/tabs/tab-btm-inactive-left-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-over .x-tab-right {
    background-image: url(../images/vodkaO/tabs/tab-btm-over-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-over .x-tab-left {
    background-image: url(../images/vodkaO/tabs/tab-btm-over-left-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
    background:transparent url(../images/vodkaO/tabs/tab-btm-right-bg.gif) no-repeat scroll right bottom !important;
    /*needed in 3.1 padding-right:3px;*/
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
    background:transparent url(../images/vodkaO/tabs/tab-btm-left-bg.gif) no-repeat scroll left bottom !important;
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
	background-image:url(../images/vodkaO/tabs/tab-close.gif);
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover{
	background-image:url(../images/vodkaO/tabs/tab-close.gif);
}

.x-tab-panel-body {
    border-color:#d0d0d0;
    background-color:#fff;
}

.x-tab-panel-body-top {
    border-top: 0 none;
}

.x-tab-panel-body-bottom {
    border-bottom: 0 none;
}

.x-tab-scroller-left {
    background-image:url(../images/vodkaO/tabs/scroll-left.gif);
    border-bottom-color:#d0d0d0;
}

.x-tab-scroller-left-over {
    background-position: 0 0;
}

.x-tab-scroller-left-disabled {
    background-position: -18px 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.x-tab-scroller-right {
    background-image:url(../images/vodkaO/tabs/scroll-right.gif);
    border-bottom-color:#d0d0d0;
}

/*TABSCROLLER MENU UX*/
.x-tab-tabmenu-right, .x-tab-panel-menu {
    background: transparent url(../images/vodkaO/tabs/tab-scroller-menu.gif) no-repeat 0 0 !important;
    border-bottom: 1px solid #aeaeae !important;
    width:18px;
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    cursor:pointer;
}
.x-tab-tabmenu-over, .x-tab-panel-menu-over{
    background-position: -18px 0 !important;
}
.x-tab-tabmenu-disabled, .x-tab-panel-menu-disabled{
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.x-tab-panel-bbar .x-toolbar, .x-tab-panel-tbar .x-toolbar {
    border-color:#d0d0d0;
}
.x-form-field{
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.x-form-text, textarea.x-form-field{
    background-color:#fff;
    background-image:url(../images/default/form/text-bg.gif);
    border-color:#bebebe;
}

.x-form-select-one {
    background-color:#fff;
    border-color:#b5b8c8;
}

.x-form-check-group-label {
    border-bottom: 1px solid #d0d0d0;
    color: #333;
}

.x-editor .x-form-check-wrap {
    background-color:#fff;
}

.x-form-field-wrap .x-form-trigger{
    background-image:url(../images/vodkaO/form/trigger.gif);
    border-bottom-color:#bebebe;
}

.x-form-field-wrap .x-form-date-trigger{
    background-image: url(../images/vodkaO/form/date-trigger.gif);
}

.x-form-field-wrap .x-form-clear-trigger{
    background-image: url(../images/vodkaO/form/clear-trigger.gif);
}

.x-form-field-wrap .x-form-search-trigger{
    background-image: url(../images/vodkaO/form/search-trigger.gif);
}

.x-trigger-wrap-focus .x-form-trigger{
    border-bottom-color:#bebebe;
}

.x-item-disabled .x-form-trigger-over{
    border-bottom-color:#bebebe;
}

.x-item-disabled .x-form-trigger-click{
    border-bottom-color:#bebebe;
}

.x-form-focus, textarea.x-form-focus{
    border-color:#ababab;
}

.x-form-invalid, textarea.x-form-invalid{
    background-color:#fff;
    background-image:url(../images/default/grid/invalid_line.gif);
    border-color:#c30;
}

.ext-webkit .x-form-invalid{
    background-color:#fee;
    border-color:#ff7870;
}

.x-form-inner-invalid, textarea.x-form-inner-invalid{
    background-color:#fff;
    background-image:url(../images/default/grid/invalid_line.gif);
}

.x-form-grow-sizer {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.x-form-item {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.x-form-invalid-msg {
    color:#c0272b;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    background-image:url(../images/vodkaO/shared/warning.gif);
}

.x-form-empty-field {
    color:gray;
}

.x-small-editor .x-form-field {
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.ext-webkit .x-small-editor .x-form-field {
    font:normal 12px arial, tahoma, helvetica, sans-serif;
}

.x-form-invalid-icon {
    background-image:url(../images/default/form/exclamation.gif);
}

.x-fieldset {
    border-color:#b5b8c8;
}

.x-fieldset legend {
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    color:#15428B;
}

.x-btn{
	font:normal 11px tahoma, verdana, helvetica;
}

.x-btn button{
    font:normal 11px arial,tahoma,verdana,helvetica;
    color:#333;
}

.x-btn em {
    font-style:normal;
    font-weight:normal;
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc{
    background-image:url(../images/vodkaO/button/btn.gif);
}

.x-btn-click .x-btn-text, .x-btn-menu-active .x-btn-text, .x-btn-pressed .x-btn-text{
    color:#000;
}

.x-btn-disabled *{
	color:gray !important;
}

.x-btn-mc em.x-btn-arrow {
    background-image:url(../images/vodkaO/button/arrow.gif);
}

.x-btn-mc em.x-btn-split {
    background-image:url(../images/default/button/s-arrow.gif);
}

.x-btn-over .x-btn-mc em.x-btn-split, .x-btn-click .x-btn-mc em.x-btn-split, .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-btn-pressed .x-btn-mc em.x-btn-split {
    background-image:url(../images/vodkaO/button/s-arrow-o.gif);
}

.x-btn-mc em.x-btn-arrow-bottom {
    background-image:url(../images/default/button/s-arrow-b-noline.gif);
}

.x-btn-mc em.x-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-b.gif);
}

.x-btn-over .x-btn-mc em.x-btn-split-bottom, .x-btn-click .x-btn-mc em.x-btn-split-bottom, .x-btn-menu-active .x-btn-mc em.x-btn-split-bottom, .x-btn-pressed .x-btn-mc em.x-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-bo.gif);
}

.x-btn-group-header {
    color: #666;
}

.x-btn-group-tc {
	background-image: url(../images/vodkaO/button/group-tb.gif);
}

.x-btn-group-tl {
	background-image: url(../images/vodkaO/button/group-cs.gif);
}

.x-btn-group-tr {
	background-image: url(../images/vodkaO/button/group-cs.gif);
}

.x-btn-group-bc {
	background-image: url(../images/vodkaO/button/group-tb.gif);
}

.x-btn-group-bl {
	background-image: url(../images/vodkaO/button/group-cs.gif);
}

.x-btn-group-br {
	background-image: url(../images/vodkaO/button/group-cs.gif);
}

.x-btn-group-ml {
	background-image: url(../images/vodkaO/button/group-lr.gif);
}
.x-btn-group-mr {
	background-image: url(../images/vodkaO/button/group-lr.gif);
}

.x-btn-group-notitle .x-btn-group-tc {
	background-image: url(../images/vodkaO/button/group-tb.gif);
}
.x-toolbar{
	border-color:#d0d0d0;
    background-color:#f0f0f0;
    background-image:url(../images/vodkaO/toolbar/bg.gif);
}

.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{
    font:normal 11px arial,tahoma, helvetica, sans-serif;
}

.x-toolbar .x-item-disabled {
	color:gray;
}

.x-toolbar .x-item-disabled * {
	color:gray;
}

.x-toolbar .x-btn-mc em.x-btn-split {
    background-image:url(../images/vodkaO/button/s-arrow-noline.gif);
}

.x-toolbar .x-btn-over .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-click .x-btn-mc em.x-btn-split, 
.x-toolbar .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-pressed .x-btn-mc em.x-btn-split 
{
    background-image:url(../images/vodkaO/button/s-arrow-o.gif);
}

.x-toolbar .x-btn-mc em.x-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-b-noline.gif);
}

.x-toolbar .x-btn-over .x-btn-mc em.x-btn-split-bottom, .x-toolbar .x-btn-click .x-btn-mc em.x-btn-split-bottom, 
.x-toolbar .x-btn-menu-active .x-btn-mc em.x-btn-split-bottom, .x-toolbar .x-btn-pressed .x-btn-mc em.x-btn-split-bottom 
{
    background-image:url(../images/default/button/s-arrow-bo.gif);
}

.x-toolbar .xtb-sep {
	background-image: url(../images/vodkaO/grid/grid-blue-split.gif);
}

.x-tbar-page-first{
	background-image: url(../images/vodkaO/grid/page-first.gif) !important;
}

.x-tbar-loading{
	background-image: url(../images/vodkaO/grid/refresh.gif) !important;
}

.x-tbar-page-last{
	background-image: url(../images/vodkaO/grid/page-last.gif) !important;
}

.x-tbar-page-next{
	background-image: url(../images/vodkaO/grid/page-next.gif) !important;
}

.x-tbar-page-prev{
	background-image: url(../images/vodkaO/grid/page-prev.gif) !important;
}

.x-item-disabled .x-tbar-loading{
	background-image: url(../images/default/grid/loading.gif) !important;
}

.x-item-disabled .x-tbar-page-first{
	background-image: url(../images/vodkaO/grid/page-first-disabled.gif) !important;
}

.x-item-disabled .x-tbar-page-last{
	background-image: url(../images/vodkaO/grid/page-last-disabled.gif) !important;
}

.x-item-disabled .x-tbar-page-next{
	background-image: url(../images/vodkaO/grid/page-next-disabled.gif) !important;
}

.x-item-disabled .x-tbar-page-prev{
	background-image: url(../images/vodkaO/grid/page-prev-disabled.gif) !important;
}

.x-paging-info {
    color:#444;
}

.x-toolbar-more-icon {
    background-image: url(../images/vodkaO/toolbar/more.gif) !important;
}

.x-statusbar .x-status-busy {
    background-image: url(../images/default/grid/loading.gif);
}

.x-statusbar .x-status-text-panel {
    border-color: #d0d0d0 #fff #fff #d0d0d0;
}
.x-resizable-handle {
	background-color:#fff;
}

.x-resizable-over .x-resizable-handle-east, .x-resizable-pinned .x-resizable-handle-east,
.x-resizable-over .x-resizable-handle-west, .x-resizable-pinned .x-resizable-handle-west
{
    background-image:url(../images/vodkaO/sizer/e-handle.gif);
}

.x-resizable-over .x-resizable-handle-south, .x-resizable-pinned .x-resizable-handle-south,
.x-resizable-over .x-resizable-handle-north, .x-resizable-pinned .x-resizable-handle-north
{
    background-image:url(../images/vodkaO/sizer/s-handle.gif);
}

.x-resizable-over .x-resizable-handle-north, .x-resizable-pinned .x-resizable-handle-north{
    background-image:url(../images/vodkaO/sizer/s-handle.gif);
}
.x-resizable-over .x-resizable-handle-southeast, .x-resizable-pinned .x-resizable-handle-southeast{
    background-image:url(../images/vodkaO/sizer/se-handle.gif);
}
.x-resizable-over .x-resizable-handle-northwest, .x-resizable-pinned .x-resizable-handle-northwest{
    background-image:url(../images/vodkaO/sizer/nw-handle.gif);
}
.x-resizable-over .x-resizable-handle-northeast, .x-resizable-pinned .x-resizable-handle-northeast{
    background-image:url(../images/vodkaO/sizer/ne-handle.gif);
}
.x-resizable-over .x-resizable-handle-southwest, .x-resizable-pinned .x-resizable-handle-southwest{
    background-image:url(../images/vodkaO/sizer/sw-handle.gif);
}
.x-resizable-proxy{
    border-color:#3b5a82;
}
.x-resizable-overlay{
    background-color:#fff;
}

.x-grid3 {
    background-color:#fff;
}

.x-grid-panel .x-panel-mc .x-panel-body {
    border-color:#d0d0d0;
}

.x-grid3-hd-row td, .x-grid3-row td, .x-grid3-summary-row td{
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-grid3-hd-row td {
    border-left-color:#eee;
    border-right-color:#d0d0d0;
}

.x-grid-row-loading {
    background-color: #fff;
    background-image:url(../images/vodkaO/shared/loading-balls.gif);
}

.x-grid3-row {
    border-color:#ededed;
    border-top-color:#fff;
}

.x-grid3-row-alt{
    background-color:#fafafa;
}

.x-grid3-row-over {
    border-color:#ddd;
    background-color:#efefef;
    background-image:url(../images/default/grid/row-over.gif);
}

.x-grid3-resize-proxy {
    background-color:#777;
}

.x-grid3-resize-marker {
    background-color:#777;
}

.x-grid3-header{
    background-color:#f9f9f9;
    background-image:url(../images/default/grid/grid3-hrow.gif);
}

.x-grid3-header-pop {
    border-left-color:#d0d0d0;
}

.x-grid3-header-pop-inner {
    border-left-color:#eee;
    background-image:url(../images/default/grid/hd-pop.gif);
}

td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    border-left-color:#f0f0f0;
    border-right-color:#bcbcbc;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-color:#f0f0f0;
    background-image:url(../images/vodkaO/grid/grid3-hrow-over.gif);

}

.sort-asc .x-grid3-sort-icon {
	background-image: url(../images/vodkaO/grid/sort_asc.gif);
}

.sort-desc .x-grid3-sort-icon {
	background-image: url(../images/vodkaO/grid/sort_desc.gif);
}

.x-grid3-cell-text, .x-grid3-hd-text {
	color:#000;
}

.x-grid3-split {
	background-image: url(../images/default/grid/grid-split.gif);
}

.x-grid3-hd-text {
	color:#333;
}

.x-dd-drag-proxy .x-grid3-hd-inner{
    background-color:#ebf3fd;
    background-image:url(../images/vodkaO/grid/grid3-hrow-over.gif);
    border-color:#aaccf6;
}

.col-move-top{
	background-image:url(../images/default/grid/col-move-top.gif);
}

.col-move-bottom{
	background-image:url(../images/default/grid/col-move-bottom.gif);
}

/*.x-grid3-row-selected {
	background-color: #dfe8f6 !important;
	background-image: none;
	border-color:#a3bae9;
}*/

.x-grid3-row-selected {
    background-image: none;
    background-color: #eee !important;
    border: 1px dotted #ff9900 !important;
}

.x-grid3-cell-selected{
	background-color: #b8cfee !important;
	color:#000;
}

.x-grid3-cell-selected span{
	color:#000 !important;
}

.x-grid3-cell-selected .x-grid3-cell-text{
	color:#000;
}

.x-grid3-locked td.x-grid3-row-marker, .x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker{
    background-color:#ebeadb !important;
    background-image:url(../images/default/grid/grid-hrow.gif) !important;
    color:#000;
    border-top-color:#fff;
    border-right-color:#6fa0df !important;
}

.x-grid3-locked td.x-grid3-row-marker div, .x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker div{
    color:#333 !important;
}

.x-grid3-dirty-cell {
    background-image:url(../images/default/grid/dirty.gif);
}

.x-grid3-topbar, .x-grid3-bottombar{
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-grid3-bottombar .x-toolbar{
	border-top-color:#a9bfd3;
}

.x-props-grid .x-grid3-td-name .x-grid3-cell-inner{
	background-image:url(../images/vodkaO/grid/grid3-special-col-bg.gif) !important;
    color:#000 !important;
}

.x-props-grid .x-grid3-body .x-grid3-td-name{
    background-color:#fff !important;
    border-right-color:#eee;
}

.xg-hmenu-sort-asc .x-menu-item-icon{
	background-image: url(../images/default/grid/hmenu-asc.gif);
}

.xg-hmenu-sort-desc .x-menu-item-icon{
	background-image: url(../images/default/grid/hmenu-desc.gif);
}

.xg-hmenu-lock .x-menu-item-icon{
	background-image: url(../images/default/grid/hmenu-lock.gif);
}

.xg-hmenu-unlock .x-menu-item-icon{
	background-image: url(../images/default/grid/hmenu-unlock.gif);
}

.x-grid3-hd-btn {
    background-color:#f0f0f0;
    background-image:url(../images/vodkaO/grid/grid3-hd-btn.gif);
    height:19px !important;
}

.x-grid3-body .x-grid3-td-expander {
    background-image:url(../images/vodkaO/grid/grid3-special-col-bg.gif);
}

.x-grid3-row-expander {
    background-image:url(../images/default/grid/row-expand-sprite.gif);
}

.x-grid3-body .x-grid3-td-checker {
    background-image: url(../images/vodkaO/grid/grid3-special-col-bg.gif);
}

.x-grid3-row-checker, .x-grid3-hd-checker {
    background-image:url(../images/default/grid/row-check-sprite.gif);
}

.x-grid3-body .x-grid3-td-numberer {
    background-image:url(../images/vodkaO/grid/grid3-special-col-bg.gif);
}

.x-grid3-body .x-grid3-td-numberer .x-grid3-cell-inner {
	color:#444;
}

.x-grid3-body .x-grid3-td-row-icon {
    background-image:url(../images/vodkaO/grid/grid3-special-col-bg.gif);
}

.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-checker,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
	background-image:url(../images/vodkaO/grid/grid3-special-col-sel-bg.gif);
}

.x-grid3-check-col {
	background-image:url(../images/vodkaO/menu/unchecked.gif);
}

.x-grid3-check-col-on {
	background-image:url(../images/vodkaO/menu/checked.gif);
}

.x-grid-group, .x-grid-group-body, .x-grid-group-hd {
    zoom:1;
}

.x-grid-group-hd {
    border-bottom-color:#d0d0d0;
}

.x-grid-group-hd div.x-grid-group-title {
    background-image:url(../images/default/grid/group-collapse.gif);
    color:#3764a0;
    font:bold 11px tahoma, arial, helvetica, sans-serif;
}

.x-grid-group-collapsed .x-grid-group-hd div.x-grid-group-title {
    background-image:url(../images/default/grid/group-expand.gif);
}

.x-group-by-icon {
    background-image:url(../images/default/grid/group-by.gif);
}

.x-cols-icon {
    background-image:url(../images/default/grid/columns.gif);
}

.x-show-groups-icon {
    background-image:url(../images/default/grid/group-by.gif);
}

.x-grid-empty {
    color:gray;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}

.x-grid-with-col-lines .x-grid3-row td.x-grid3-cell {
    border-right-color:#ededed;
}

.x-grid-with-col-lines .x-grid3-row{
    border-top-color:#ededed;
}

.x-grid-with-col-lines .x-grid3-row-selected {
	border-top-color:#a3bae9;
}
.x-dd-drag-ghost{
	color:#000;
	font: normal 11px arial, helvetica, sans-serif;
    border-color: #ddd #bbb #bbb #ddd;
	background-color:#fff;
}

.x-dd-drop-nodrop .x-dd-drop-icon{
  background-image: url(../images/default/dd/drop-no.gif);
}

.x-dd-drop-ok .x-dd-drop-icon{
  background-image: url(../images/default/dd/drop-yes.gif);
}

.x-dd-drop-ok-add .x-dd-drop-icon{
  background-image: url(../images/default/dd/drop-add.gif);
}

.x-view-selector {
    background-color:#c3daf9;
    border-color:#3399bb;
}
.x-tree-node-expanded .x-tree-node-icon{
	background-image:url(../images/vodkaO/tree/folder-open.gif);
}

.x-tree-node-leaf .x-tree-node-icon{
	background-image:url(../images/default/tree/leaf.gif);
}

.x-tree-node-collapsed .x-tree-node-icon{
	background-image:url(../images/vodkaO/tree/folder.gif);
}

.x-tree-node-loading .x-tree-node-icon{
	background-image:url(../images/vodkaO/tree/loading.gif) !important;
}

.x-tree-node .x-tree-node-inline-icon {
    background-image: none;
}

.x-tree-node-loading a span{
	 font-style: italic;
	 color:#444444;
}

.ext-ie .x-tree-node-el input {
    width:15px;
    height:15px;
}

.x-tree-lines .x-tree-elbow{
	background-image:url(../images/vodkaO/tree/elbow.gif);
}

.x-tree-lines .x-tree-elbow-plus{
	background-image:url(../images/vodkaO/tree/elbow-plus.gif);
}

.x-tree-lines .x-tree-elbow-minus{
	background-image:url(../images/vodkaO/tree/elbow-minus.gif);
}

.x-tree-lines .x-tree-elbow-end{
	background-image:url(../images/vodkaO/tree/elbow-end.gif);
}

.x-tree-lines .x-tree-elbow-end-plus{
	background-image:url(../images/vodkaO/tree/elbow-end-plus.gif);
}

.x-tree-lines .x-tree-elbow-end-minus{
	background-image:url(../images/vodkaO/tree/elbow-end-minus.gif);
}

.x-tree-lines .x-tree-elbow-line{
	background-image:url(../images/vodkaO/tree/elbow-line.gif);
}

.x-tree-no-lines .x-tree-elbow-plus{
	background-image:url(../images/vodkaO/tree/elbow-plus-nl.gif);
}

.x-tree-no-lines .x-tree-elbow-minus{
	background-image:url(../images/vodkaO/tree/elbow-minus-nl.gif);
}

.x-tree-no-lines .x-tree-elbow-end-plus{
	background-image:url(../images/vodkaO/tree/elbow-end-plus-nl.gif);
}

.x-tree-no-lines .x-tree-elbow-end-minus{
	background-image:url(../images/vodkaO/tree/elbow-end-minus-nl.gif);
}

.x-tree-arrows .x-tree-elbow-plus{
    background-image:url(../images/default/tree/arrows.gif);
}

.x-tree-arrows .x-tree-elbow-minus{
    background-image:url(../images/default/tree/arrows.gif);
}

.x-tree-arrows .x-tree-elbow-end-plus{
    background-image:url(../images/default/tree/arrows.gif);
}

.x-tree-arrows .x-tree-elbow-end-minus{
    background-image:url(../images/default/tree/arrows.gif);
}

.x-tree-node{
    color:#000;
    font: normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-tree-node a, .x-dd-drag-ghost a{
    color:#000;
}

.x-tree-node a span, .x-dd-drag-ghost a span{
    color:#000;
}

.x-tree-node .x-tree-node-disabled a span{
    color:gray !important;
}

.x-tree-node div.x-tree-drag-insert-below{
    border-bottom-color:#36c;
}

.x-tree-node div.x-tree-drag-insert-above{
    border-top-color:#36c;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a{
    border-bottom-color:#36c;
}

.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a{
     border-top-color:#36c;
}

.x-tree-node .x-tree-drag-append a span{
     background-color:#ddd;
     border-color:gray;
}

.x-tree-node .x-tree-node-over {
    background-color: #eee;
}

.x-tree-node .x-tree-selected {
    background-color: #FEDDA2;
}

.x-tree-drop-ok-append .x-dd-drop-icon{
  background-image: url(../images/vodkaO/tree/drop-add.gif);
}

.x-tree-drop-ok-above .x-dd-drop-icon{
  background-image: url(../images/vodkaO/tree/drop-over.gif);
}

.x-tree-drop-ok-below .x-dd-drop-icon{
  background-image: url(../images/vodkaO/tree/drop-under.gif);
}

.x-tree-drop-ok-between .x-dd-drop-icon{
  background-image: url(../images/vodkaO/tree/drop-between.gif);
}

.x-date-picker{
    /*border-color: #BCBCBC;*/
    /*border-top:1px solid darkred;*/
    background-color:#fff;
    border:1px solid #BCBCBC;
}

.x-date-middle,.x-date-left,.x-date-right {
    background:url(../images/vodkaO/shared/hd-sprite.gif) repeat-x 0 -83px;
    color:#fff;
    font:bold 11px "sans serif",tahoma,verdana,helvetica;
}


.x-date-middle .x-btn .x-btn-text {
    color:#fff;
}

.x-date-middle .x-btn-mc em.x-btn-arrow {
    background-image:url(../images/vodkaO/toolbar/btn-arrow-light.gif);
}

.x-date-right a {
    background-image: url(../images/vodkaO/shared/right-btn.gif);
}

.x-date-left a{
    background-image: url(../images/vodkaO/shared/left-btn.gif);
}

.x-date-inner th {
    background-color:#dfecfb;
    background-image:url(../images/vodkaO/shared/glass-bg.gif);
    border-bottom-color:#d9d9d9;
    font:normal 10px arial, helvetica,tahoma,sans-serif;
    color:#323237;
}

.x-date-inner td {
    border-color:#fff;
}

.x-date-inner a {
    font:normal 11px arial, helvetica,tahoma,sans-serif;
    color:#000;
}

.x-date-inner .x-date-active{
    color:#000;
}

.x-date-inner .x-date-selected a{
    background-color:#dfecfb;
    background-image:url(../images/vodkaO/shared/glass-bg.gif);
    border-color:#e3e3e3;
}

.x-date-inner .x-date-today a{
	border-color:darkred;
}

.x-date-inner .x-date-selected span{
    font-weight:bold;
}

.x-date-inner .x-date-prevday a,.x-date-inner .x-date-nextday a {
	color:#aaa;
}

.x-date-bottom {
    border-top-color:#d9d9d9;
    background-color:#dfecfb;
    background-image:url(../images/vodkaO/shared/glass-bg.gif);
}

.x-date-inner a:hover, .x-date-inner .x-date-disabled a:hover{
    color:#000;
    background-color:#ff9900;
}

.x-date-inner .x-date-disabled a {
	background-color:#eee;
	color:#bbb;
}

.x-date-mmenu{
    background-color:#eee !important;
}

.x-date-mmenu .x-menu-item {
	font-size:10px;
	color:#000;
}

.x-date-mp {
	background-color:#fff;
}

.x-date-mp td {
	font:normal 11px arial, helvetica,tahoma,sans-serif;
}

.x-date-mp-btns button {
	background-color:#fafafa;
	color:#000;
	border-color: #ff9900;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
        outline:none;
}

.x-date-mp-btns button:hover {
	background-color:#ff9900;
	color:#fff;
	border-color: #ff9900;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
        outline:none;
}

.x-date-mp-btns {
    background-color: #dfecfb;
	background-image: url(../images/vodkaO/shared/glass-bg.gif);
}

.x-date-mp-btns td {
	border-top-color: #c5d2df;
}

td.x-date-mp-month a,td.x-date-mp-year a {
	color:#333;
}

td.x-date-mp-month a:hover,td.x-date-mp-year a:hover {
	color:#333;
	background-color: #ff9900;
}

td.x-date-mp-sel a {
    background-color: #dfecfb;
    background-image: url(../images/vodkaO/shared/glass-bg.gif);
    border-color:#ff9900;
}

.x-date-mp-ybtn a {
    background-image:url(../images/vodkaO/panel/tool-sprites.gif);
}

td.x-date-mp-sep {
   border-right-color:#c5d2df;
}
.x-tip .x-tip-close{
	background-image: url(../images/vodkaO/qtip/close.gif);
}

.x-tip .x-tip-tc, .x-tip .x-tip-tl, .x-tip .x-tip-tr, .x-tip .x-tip-bc, .x-tip .x-tip-bl, .x-tip .x-tip-br, .x-tip .x-tip-ml, .x-tip .x-tip-mr {
	background-image: url(../images/vodkaO/qtip/tip-sprite.gif);
}

.x-tip .x-tip-mc {
    font: normal 11px tahoma,arial,helvetica,sans-serif;
}
.x-tip .x-tip-ml {
	background-color: #fff;
}

.x-tip .x-tip-header-text {
    font: bold 11px tahoma,arial,helvetica,sans-serif;
    color:#444;
}

.x-tip .x-tip-body {
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    color:#444;
}

.x-form-invalid-tip .x-tip-tc, .x-form-invalid-tip .x-tip-tl, .x-form-invalid-tip .x-tip-tr, .x-form-invalid-tip .x-tip-bc,
.x-form-invalid-tip .x-tip-bl, .x-form-invalid-tip .x-tip-br, .x-form-invalid-tip .x-tip-ml, .x-form-invalid-tip .x-tip-mr
{
    background-image: url(../images/vodkaO/form/error-tip-corners.gif);
}

.x-form-invalid-tip .x-tip-body {
    background-image:url(../images/default/form/exclamation.gif);
}

.x-tip-anchor {
    background-image:url(../images/vodkaO/qtip/tip-anchor-sprite.gif);
}
.x-menu {
    background-color:#f0f0f0;
    background-image:url(../images/vodkaO/menu/menu.gif);
}

.x-menu-floating{
    border-color:#bcbcbc;
}

.x-menu-nosep {
    background-image:none;
}

.x-menu-list-item{
    font:normal 11px arial,tahoma,sans-serif;
}

.x-menu-item-arrow{
    background-image:url(../images/vodkaO/menu/menu-parent.gif);
}

.x-menu-sep {
    background-color:#e0e0e0;
    border-bottom-color:#fff;
}

a.x-menu-item {
    color:#222;
}

.x-menu-item-active {
    background-image: url(../images/vodkaO/menu/item-over.gif);
    background-color: #ffebeb;
    border-color:#ff9900;
}

.x-menu-item-active a.x-menu-item {
    border-color:#ff9900;
}

.x-menu-check-item .x-menu-item-icon{
    background-image:url(../images/vodkaO/menu/unchecked.gif);
}

.x-menu-item-checked .x-menu-item-icon{
    background-image:url(../images/vodkaO/menu/checked.gif);
}

.x-menu-item-checked .x-menu-group-item .x-menu-item-icon{
    background-image:url(../images/vodkaO/menu/group-checked.gif);
}

.x-menu-group-item .x-menu-item-icon{
    background-image:none;
}

.x-menu-plain {
    background-color:#fff !important;
}

.x-menu .x-date-picker{
    border-color:#a3bad9;
}

.x-cycle-menu .x-menu-item-checked {
    border-color:#a3bae9 !important;
    background-color:#def8f6;
}

.x-menu-scroller-top {
    background-image:url(../images/vodkaO/layout/mini-top.gif);
}

.x-menu-scroller-bottom {
    background-image:url(../images/vodkaO/layout/mini-bottom.gif);
}

.x-box-tl {
	background-image: url(../images/default/box/corners.gif);
}

.x-box-tc {
	background-image: url(../images/default/box/tb.gif);
}

.x-box-tr {
	background-image: url(../images/default/box/corners.gif);
}

.x-box-ml {
	background-image: url(../images/default/box/l.gif);
}

.x-box-mc {
	background-color: #eee;
    background-image: url(../images/default/box/tb.gif);
	font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
	color: #393939;
	font-size: 12px;
}

.x-box-mc h3 {
	font-size: 14px;
	font-weight: bold;
}

.x-box-mr {
	background-image: url(../images/default/box/r.gif);
}

.x-box-bl {
	background-image: url(../images/default/box/corners.gif);
}

.x-box-bc {
	background-image: url(../images/default/box/tb.gif);
}

.x-box-br {
	background-image: url(../images/default/box/corners.gif);
}

.x-box-blue .x-box-bl, .x-box-blue .x-box-br, .x-box-blue .x-box-tl, .x-box-blue .x-box-tr {
	background-image: url(../images/default/box/corners-blue.gif);
}

.x-box-blue .x-box-bc, .x-box-blue .x-box-mc, .x-box-blue .x-box-tc {
	background-image: url(../images/default/box/tb-blue.gif);
}

.x-box-blue .x-box-mc {
	background-color: #c3daf9;
}

.x-box-blue .x-box-mc h3 {
	color: #17385b;
}

.x-box-blue .x-box-ml {
	background-image: url(../images/default/box/l-blue.gif);
}

.x-box-blue .x-box-mr {
	background-image: url(../images/default/box/r-blue.gif);
}
#x-debug-browser .x-tree .x-tree-node a span {
    color:#222297;
    font-size:11px;
    font-family:"monotype","courier new",sans-serif;
}

#x-debug-browser .x-tree a i {
    color:#ff4545;
    font-style:normal;
}

#x-debug-browser .x-tree a em {
    color:#999;
}

#x-debug-browser .x-tree .x-tree-node .x-tree-selected a span{
    background-color:#c3daf9;
}
.x-combo-list {
    border-color:#bebebe;
    background-color:#fff;
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.x-combo-list-inner {
    background-color:#fff;
}

.x-combo-list-hd {
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    color:#333;
    background-image: url(../images/vodkaO/layout/panel-title-light-bg.gif);
    border-bottom-color:#ff9900;
}

.x-resizable-pinned .x-combo-list-inner {
    border-bottom-color:#fff;
}

.x-combo-list-item {
    border-color:#fff;
}

.x-combo-list .x-combo-selected{
    border-color:#ff9900 !important;
    background-color:#f0f0f0;
}

.x-combo-list .x-toolbar {
    border-top-color:#ff9900;
}

.x-combo-list-small {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}
.x-panel {
    border-color: #d0d0d0;
}

.x-panel-header {
    color:#fff;
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    border-color:#d0d0d0;
    background-image: url(../images/vodkaO/panel/white-top-bottom.gif);
}

.x-panel-body {
    border-color:#d0d0d0;
    background-color:#fff;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border-color:#d0d0d0;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-top-color:#d0d0d0;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-top-color:#d0d0d0;
}

.x-panel-tl .x-panel-header {
    color:#333;
	font:bold 11px tahoma,arial,verdana,sans-serif;
}

.x-panel-tc {
	background-image: url(../images/vodkaO/panel/top-bottom.gif);
}

.x-panel-tl, .x-panel-tr, .x-panel-bl,  .x-panel-br{
	background-image: url(../images/vodkaO/panel/corners-sprite.gif);
    border-bottom-color:#d0d0d0;
}

.x-panel-bc {
	background-image: url(../images/vodkaO/panel/top-bottom.gif);
}

.x-panel-mc {
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    background-color:#f1f1f1;
}

.x-panel-ml {
	background-color: #fff;
    background-image:url(../images/vodkaO/panel/left-right.gif);
}

.x-panel-mr {
	background-image: url(../images/vodkaO/panel/left-right.gif);
}

.x-tool {
    background-image:url(../images/vodkaO/panel/tool-sprites.gif);
}

.x-panel-ghost {
    background-color:#f2f2f2;
}

.x-panel-ghost ul {
    border-color:#d0d0d0;
}

.x-panel-dd-spacer {
    border-color:#d0d0d0;
}

.x-panel-fbar td,.x-panel-fbar span,.x-panel-fbar input,.x-panel-fbar div,.x-panel-fbar select,.x-panel-fbar label{
    font:normal 11px arial,tahoma, helvetica, sans-serif;
}

.x-panel-resize  {
    background:url("../images/vodkaO/panel/panel-handle.gif") no-repeat scroll center bottom transparent;
    cursor:row-resize;
    font-size:1px;
    height:5px;
    left:0;
    line-height:1px;
    overflow:hidden;
    position:relative;
    top:2px;
}

.x-window-proxy {
    background-color:#fcfcfc;
    border-color:#d0d0d0;
}

.x-window-tl .x-window-header {
    color:#555;
    font:bold 11px tahoma,arial,verdana,sans-serif;
}

.x-window-tc {
    background-image: url(../images/vodkaO/window/top-bottom.png);
}

.x-window-tl {
    background-image: url(../images/vodkaO/window/left-corners.png);
}

.x-window-tr {
    background-image: url(../images/vodkaO/window/right-corners.png);
}

.x-window-bc {
    background-image: url(../images/vodkaO/window/top-bottom.png);
}

.x-window-bl {
    background-image: url(../images/vodkaO/window/left-corners.png);
}

.x-window-br {
    background-image: url(../images/vodkaO/window/right-corners.png);
}

.x-window-mc {
    border-color:#d0d0d0;
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    background-color:#e8e8e8;
}

.x-window-ml {
    background-image: url(../images/vodkaO/window/left-right.png);
}

.x-window-mr {
    background-image: url(../images/vodkaO/window/left-right.png);
}

.x-window-maximized .x-window-tc {
    background-color:#fff;
}

.x-window-bbar .x-toolbar {
    border-top-color:#d0d0d0;
}

.x-panel-ghost .x-window-tl {
    border-bottom-color:#d0d0d0;
}

.x-panel-collapsed .x-window-tl {
    border-bottom-color:#d0d0d0;
}

.x-dlg-mask{
   background-color:#ccc;
}

.x-window-plain .x-window-mc {
    background-color: #e0e0e0;
    /*border-color: #a3bae9 #f0f0f0 #f0f0f0 #a3bae9;*/
    border-color:#aeaeae;
}

.x-window-plain .x-window-body {
    /*border-color: #f0f0f0 #a3bae9 #a3bae9 #f0f0f0;*/
    border-color:transparent;
}

body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #e0e0e0;
}
.x-html-editor-wrap {
    border-color:#aeaeae;
    background-color:#fff;
}
.x-html-editor-tb .x-btn-text {
    background-image:url(../images/default/editor/tb-sprite.gif);
}
.x-panel-noborder .x-panel-header-noborder {
    border-bottom-color:#d0d0d0;
}

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-bottom-color:#d0d0d0;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border-top-color:#d0d0d0;
}

.x-tab-panel-bbar-noborder .x-toolbar {
    border-top-color:#d0d0d0;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-bottom-color:#d0d0d0;
}
.x-border-layout-ct {
    /*background-color:#f0f0f0;*/
    background-color:#fafafa;
}

.x-accordion-hd {
    color:#333;
    font-weight:normal;
    background-image: url(../images/vodkaO/panel/light-hd.gif);
}

.x-layout-collapsed{
    background-color:#eee;
    border-color:#e0e0e0;
}

.x-layout-collapsed-over{
    background-color:#fbfbfb;
}

.x-layout-split-west .x-layout-mini {
    background-image:url(../images/vodkaO/layout/mini-left.gif);
}
.x-layout-split-east .x-layout-mini {
    background-image:url(../images/vodkaO/layout/mini-right.gif);
}
.x-layout-split-north .x-layout-mini {
    background-image:url(../images/vodkaO/layout/mini-top.gif);
}
.x-layout-split-south .x-layout-mini {
    background-image:url(../images/vodkaO/layout/mini-bottom.gif);
}

.x-layout-cmini-west .x-layout-mini {
    background-image:url(../images/vodkaO/layout/mini-right.gif);
}

.x-layout-cmini-east .x-layout-mini {
    background-image:url(../images/vodkaO/layout/mini-left.gif);
}

.x-layout-cmini-north .x-layout-mini {
    background-image:url(../images/vodkaO/layout/mini-bottom.gif);
}

.x-layout-cmini-south .x-layout-mini {
    background-image:url(../images/vodkaO/layout/mini-top.gif);
}
.x-progress-wrap {
    border-color:#cfcfcf;
}

.x-progress-inner {
    background-color:#f2f2f2;
    background-image:url(../images/vodkaO/qtip/bg.gif);
}

.x-progress-bar {
    background-color:#bcbcbc;
    background-image:url(../images/vodkaO/progress/progress-bg.gif);
    border-top-color:#ff9900;
    border-bottom-color:transparent;
    border-right-color:transparent;
}

.x-progress-text {
    font-size:11px;
    font-weight:bold;
    color:#fff;
}

.x-progress-text-back {
    color:#949494;
}
.x-list-header{
    background-color:#f9f9f9;
    background-image:url(../images/default/grid/grid3-hrow.gif);
}

.x-list-header-inner div em {
    border-left-color:#ddd;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-list-body dt em {
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-list-over {
    background-color:#eee;
}

.x-list-selected {
    background-color:#f0f0f0;
}

.x-list-resizer {
    border-left-color:#555;
    border-right-color:#555;
}

.x-list-header-inner em.sort-asc, .x-list-header-inner em.sort-desc {
    background-image:url(../images/default/grid/sort-hd.gif);
    border-color: #d0d0d0;
}
.x-slider-horz, .x-slider-horz .x-slider-end, .x-slider-horz .x-slider-inner {
    background-image:url(../images/vodkaO/slider/slider-bg.png);
}

.x-slider-horz .x-slider-thumb {
    background-image:url(../images/vodkaO/slider/slider-thumb.png);
}

.x-slider-vert, .x-slider-vert .x-slider-end, .x-slider-vert .x-slider-inner {
    background-image:url(../images/vodkaO/slider/slider-v-bg.png);
}

.x-slider-vert .x-slider-thumb {
    background-image:url(../images/vodkaO/slider/slider-v-thumb.png);
}
.x-window-dlg .ext-mb-text,
.x-window-dlg .x-window-header-text {
    font-size:12px;
}

.x-window-dlg .ext-mb-textarea {
    font:normal 12px tahoma,arial,helvetica,sans-serif;
}

.x-window-dlg .x-msg-box-wait {
    background-image:url(../images/default/grid/loading.gif);
}

.x-window-dlg .ext-mb-info {
    background-image:url(../images/default/window/icon-info.gif);
}

.x-window-dlg .ext-mb-warning {
    background-image:url(../images/default/window/icon-warning.gif);
}

.x-window-dlg .ext-mb-question {
    background-image:url(../images/default/window/icon-question.gif);
}

.x-window-dlg .ext-mb-error {
    background-image:url(../images/default/window/icon-error.gif);
}


/*changes by Tobias Uhlig*/

.x-grid3-body .x-grid3-td-numberer .x-grid3-cell-inner {
    color:#444;
}

/* All specials */
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-checker,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
    background:transparent url(../images/vodkaO/grid/grid3-special-col-bg.gif) repeat-y right;
}

/*DESKTOP UX*/

.start {
    background-image: url( ../images/vodkaO/taskbar/startbutton-icon.gif ) !important;
}

#ux-taskbar .x-btn {
    margin: 1px 0 0 1px;
}

#ux-taskbar-start .x-btn {
    margin: 0;
}

#ux-taskbar button {
    text-align: left;
    color: #333;
}

#x-logout {
    float:right;
    padding:6px 7px;
}

.x-btn-text-icon .x-btn-center .logout {
    background-position:0pt 3px;
    background-repeat:no-repeat;
    padding:3px 0pt 3px 18px;
}

#ux-taskbar {
    background:transparent none;
    height:30px;
    margin:0;
    padding:0;
    position:relative;
    z-index:12001;
}

.x-btn-icon .ux-taskbutton-center .x-btn-text{
    background-position: center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    cursor:pointer;
    white-space: nowrap;
    padding:0;
}

.x-btn-icon .ux-taskbutton-center{
    padding:1px;
}

.x-btn-text-icon .ux-taskbutton-center .x-btn-text{
    background-position: 0 6px;
    background-repeat: no-repeat;
    padding:7px 0px 7px 20px;
}

.x-btn-text-icon .ux-startbutton-center .x-btn-text{
    background-position: 0 4px;
    background-repeat: no-repeat;
    color:#000000 !important;
    font-weight:bold;
    padding:7px 0px 7px 28px;
}

.ux-taskbutton-left, .ux-taskbutton-right{
    font-size:1px;
    line-height:1px;
}

.ux-taskbutton-left{
    width:4px;
    height:28px;
    background:url( ../images/vodkaO/taskbar/taskbutton.gif ) no-repeat 0 0 !important;
}

.ux-taskbutton-right{
    width:4px;
    height:28px;
    background:url( ../images/vodkaO/taskbar/taskbutton.gif ) no-repeat 0 -28px !important;
}
.ux-taskbutton-left i, .ux-taskbutton-right i{
    display:block;
    width:4px;
    overflow:hidden;
    font-size:1px;
    line-height:1px;
}
.ux-taskbutton-center{
    background:url( ../images/vodkaO/taskbar/taskbutton.gif ) repeat-x 0 -56px !important;
    vertical-align: middle;
    text-align:center;
    padding:0 5px;
    cursor:pointer;
    white-space:nowrap;
}

#ux-taskbar .ux-taskbutton-left{
    background-position:0 0 !important;
}
#ux-taskbar .ux-taskbutton-right{
    background-position:0 -28px !important;
}
#ux-taskbar .ux-taskbutton-center{
    background-position:0 -56px !important;
}
#ux-taskbar .x-btn-over .ux-taskbutton-left{
    background-position:0 -252px !important;
}
#ux-taskbar .x-btn-over  .ux-taskbutton-right{
    background-position:0 -280px !important;
}
#ux-taskbar .x-btn-over .ux-taskbutton-center{
    background-position:0 -308px !important;
}
#ux-taskbar .x-btn-click .ux-taskbutton-left{
    background-position:0 -168px !important;
}
#ux-taskbar .x-btn-click  .ux-taskbutton-right{
    background-position:0 -196px !important;
}
#ux-taskbar .x-btn-click .ux-taskbutton-center{
    background-position:0 -224px !important;
}
#ux-taskbar .active-win .ux-taskbutton-left{
    background-position:0 -84px !important;
}
#ux-taskbar .active-win  .ux-taskbutton-right{
    background:url( ../images/vodkaO/taskbar/taskbutton.gif ) no-repeat 0 -112px !important;
}
#ux-taskbar .active-win .ux-taskbutton-center{
    background:url( ../images/vodkaO/taskbar/taskbutton.gif ) repeat-x 0 -140px !important;
}
#ux-taskbar .active-win .ux-taskbutton-center button {
    color:#fff;
}
#spacer {
    height: 25px;
    float: left;
    width: 0;
    overflow: hidden;
    margin-top: 2px;
}

.x-window-body p,.x-panel-body p {
    /*padding: 10px;*/
    margin: 0;
}

.x-window-maximized .x-window-bc {
    height:0;
}

.ux-start-menu {
    background:transparent none;
    border:0px none;
    padding:0;
}

.ux-start-menu-tl .x-window-header {
    color:#f1f1f1;
    font:bold 11px tahoma,arial,verdana,sans-serif;
    padding:5px 0 4px 0;
}

.x-panel-tl .x-panel-icon, .ux-start-menu-tl .x-panel-icon {
    background-position:0pt 4px;
    background-repeat:no-repeat;
    padding-left:20px !important;
}

.ux-start-menu-tl {
    background: transparent url( ../images/vodkaO/taskbar/start-menu-left-corners.png ) no-repeat 0 0 !important;
    padding-left:6px;
    zoom:1;
    z-index:1;
    position:relative;
}

.ux-start-menu-tr {
    background: transparent url( ../images/vodkaO/taskbar/start-menu-right-corners.png ) no-repeat right 0 !important;
    padding-right:6px;
}

.ux-start-menu-tc {
    background: transparent url( ../images/vodkaO/taskbar/start-menu-top-bottom.png ) repeat-x 0 0 !important;
    overflow:hidden;
    zoom:1;
}

.ux-start-menu-ml {
    background: transparent url( ../images/vodkaO/taskbar/start-menu-left-right.png ) repeat-y 0 0 !important;
    padding-left:6px;
    zoom:1;
}

.ux-start-menu-bc {
    background: transparent url( ../images/vodkaO/taskbar/start-menu-top-bottom.png ) repeat-x 0 bottom !important;
    zoom:1;
}

.ux-start-menu-bc .x-window-footer {
    padding-bottom:6px;
    zoom:1;
    font-size:0;
    line-height:0;
}

.ux-start-menu-bl {
    background: transparent url( ../images/vodkaO/taskbar/start-menu-left-corners.png ) no-repeat 0 bottom !important;
    padding-left:6px;
    zoom:1;
}

.ux-start-menu-br {
    background: transparent url( ../images/vodkaO/taskbar/start-menu-right-corners.png ) no-repeat right bottom !important;
    padding-right:6px;
    zoom:1;
}

.x-panel-nofooter .ux-start-menu-bc {
    height:6px;
}

.ux-start-menu-splitbar-h {
    background-color:#d0d0d0;
}

.ux-start-menu-bwrap {
    background:transparent none;
    border:0px none;
}

.ux-start-menu-body {
    background:transparent none;
    border:0px none;
}

.ux-start-menu-apps-panel {
    background:#ffffff none;
    border:1px solid #1e2124;
}

.ux-start-menu-tools-panel {
    border:0px none;
    background:transparent url( ../images/vodkaO/taskbar/start-menu-right.png ) repeat-y scroll right 0pt !important;
}

#ux-taskbar-start {
    background:#000000 url( ../images/vodkaO/taskbar/taskbar-start-panel-bg.gif ) repeat-x left top !important;
    left:0px;
    padding:0;
    padding-left:5px;
    position:absolute;
}

#ux-taskbar-start .x-toolbar {
    background: none;
    padding:0px;
    border:0px none;
}

#ux-taskbuttons-panel {
    background:#000000 url( ../images/vodkaO/taskbar/taskbuttons-panel-bg.gif ) repeat-x left top !important;
    padding-top:0;
    position:relative;
}

.ux-taskbuttons-strip-wrap {
    width:100%;
    overflow:hidden;
    position:relative;
    zoom:1;
}

ul.ux-taskbuttons-strip {
    display:block;
    width:5000px;
    zoom:1;
}

ul.ux-taskbuttons-strip li {
    float:left;
    margin-left:2px;
}

ul.ux-taskbuttons-strip li.ux-taskbuttons-edge {
    float:left;
    margin:0 !important;
    padding:0 !important;
    border:0 none !important;
    font-size:1px !important;
    line-height:1px !important;
    overflow:hidden;
    zoom:1;
    background:transparent !important;
    width:1px;
}

.x-clear {
    clear:both;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
}

.x-taskbuttons-scrolling {
    position:relative;
}

.x-taskbuttons-scrolling .ux-taskbuttons-strip-wrap {
    margin-left:18px;
    margin-right:18px;
}

td.ux-taskButtons-edge {
    margin:0 !important;
    padding:0 !important;
    border:0 none !important;
    font-size:1px !important;
    line-height:1px !important;
    overflow:hidden;
    zoom:1;
    background:transparent !important;
    width:1px;
}

.ux-taskbuttons-scroller-left {
    background: transparent url( ../images/vodkaO/taskbar/scroll-left.gif ) no-repeat -18px 0 !important;
    width:18px;
    position:absolute;
    left:1px;
    top:0px;
    z-index:10;
    cursor:pointer;
}
.ux-taskbuttons-scroller-left-over {
    background-position: 0 0 !important;
}
.ux-taskbuttons-scroller-left-disabled {
    background-position: -18px 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}
.ux-taskbuttons-scroller-right {
    background: transparent url( ../images/vodkaO/taskbar/scroll-right.gif ) no-repeat 0 0 !important;
    width:18px;
    position:absolute;
    right:0;
    top:0px;
    z-index:10;
    cursor:pointer;
}
.ux-taskbuttons-scroller-right-over {
    background-position: -18px 0 !important;
}
.ux-taskbuttons-scroller-right-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.ux-toolmenu-sep {
    background-color:#333;
    border-bottom:0px solid #858789;
    display:block;
    font-size:1px;
    line-height:1px;
    margin:2px 3px;
}

.ux-start-menu-tools-panel ul.x-menu-list li.x-menu-list-item a.x-menu-item {
    color:#333;
}

.ux-start-menu-tools-panel ul.x-menu-list li.x-menu-list-item .x-menu-item-active a.x-menu-item {
    color:#000000;
}

.ux-start-menu-tools-panel .x-menu-item-active {
    background: #525456 url( ../images/vodkaO/taskbar/item-over.gif ) repeat-x left bottom !important;
    border:1px solid red;
    padding: 0;
}

#ux-taskbar .x-splitbar-h {
    background:#000000 url( ../images/vodkaO/taskbar/taskbar-split-h.gif ) no-repeat 0 0 !important;
    width:8px;
}

.x-window-header-text {
    cursor:default;
    color:#333 !important;
}

/*
 * Begin Start button
 */
.ux-startbutton-left, .ux-startbutton-right{
    font-size:1px;
    line-height:1px;
}
.ux-startbutton-left{
    width:10px;
    height:28px;
    background:url( ../images/vodkaO/taskbar/startbutton.gif ) no-repeat 0 0 !important;
}
.ux-startbutton-right{
    width:10px;
    height:30px;
    background:url( ../images/vodkaO/taskbar/startbutton.gif ) no-repeat 0 -30px !important;
}
.ux-startbutton-left i, .ux-startbutton-right i{
    display:block;
    width:10px;
    overflow:hidden;
    font-size:1px;
    line-height:1px;
}
.ux-startbutton-center{
    background:url( ../images/vodkaO/taskbar/startbutton.gif ) repeat-x 0 -60px !important;
    vertical-align: middle;
    text-align:center;
    padding:0;
    cursor:pointer;
    white-space:nowrap;
}

#ux-taskbar .ux-startbutton-left{
    background-position:0 0;
}
#ux-taskbar .ux-startbutton-right{
    background-position:0 -30px;
}
#ux-taskbar .ux-startbutton-center{
    background-position:0 -60px;
}
#ux-taskbar .x-btn-over .ux-startbutton-left{
    background-position:0 -270px !important;
}
#ux-taskbar .x-btn-over  .ux-startbutton-right{
    background-position:0 -300px !important;
}
#ux-taskbar .x-btn-over .ux-startbutton-center{
    background-position:0 -330px !important;
}
#ux-taskbar .x-btn-click .ux-startbutton-left{
    background-position:0 -180px !important;
}
#ux-taskbar .x-btn-click  .ux-startbutton-right{
    background-position:0 -210px !important;
}
#ux-taskbar .x-btn-click .ux-startbutton-center{
    background-position:0 -240px !important;
}
#ux-taskbar .active-win .ux-startbutton-left{
    background-position:0 -90px !important;
}
#ux-taskbar .active-win  .ux-startbutton-right{
    background:url( ../images/vodkaO/taskbar/startbutton.gif ) no-repeat 0 -120px !important;
}
#ux-taskbar .active-win .ux-startbutton-center{
    background:url( ../images/vodkaO/taskbar/startbutton.gif ) repeat-x 0 -150px !important;
}
#ux-taskbar .active-win .ux-startbutton-center button {
    color:#fff;
}
/*
 * End Start button
 */